Repository CuiBenyong/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty

feat(EnumButtonGroup): add function and test
  example/src/pages/style/enum-button-group/index.tsx
  example/src/routes.ts
  packages/tuya-panel-style-enum-button-group/README.md
  packages/tuya-panel-style-enum-button-group/jest.config.js
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-button-group/src/__tests__/__snapshots__/enum-button-group.test.js.snap
  packages/tuya-panel-style-enum-button-group/src/__tests__/enum-button-group.test.js
  packages/tuya-panel-style-enum-button-group/src/__tests__/utils.test.js
  packages/tuya-panel-style-enum-button-group/src/index.tsx
  packages/tuya-panel-style-enum-button-group/src/interface.ts
  packages/tuya-panel-style-enum-button-group/src/utils.ts
  packages/tuya-panel-style-enum-button-group/tsconfig.json
Owners: @Saber2pr, @youngjuning, @ShinyLeee

feat(card): add list card
  example/src/i18n/strings.ts
  example/src/pages/style/arrow-card/index.tsx
  example/src/pages/style/list-card/index.tsx
  example/src/routes.ts
  packages/tuya-panel-style-button/src/__tests__/style-button.test.js
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/index.test.js
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-style-switch-card/src/theme.ts
Owners: @Saber2pr, @youngjuning, @ShinyLeee

chore(card): change main
  packages/tuya-panel-style-switch-card/package.json
Owners: @youngjuning, @ShinyLeee

feat(card): add iconCard
  example/src/pages/style/icon-card/index.tsx
  packages/tuya-panel-style-icon-card/src/__tests__/__snapshots__/intex.test.js.snap
  packages/tuya-panel-style-icon-card/src/interface.ts
  packages/tuya-panel-style-icon-card/src/nordic.tsx
  packages/tuya-panel-style-icon-card/src/studio.tsx
Owners: @Saber2pr, @youngjuning, @ShinyLeee

chore(webview): set source to isRequired in WebView
  example/yarn.lock
  packages/tuya-panel-kit/src/components/webview/index.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(card): add stepCard && listCard
  example/src/i18n/strings.ts
  example/src/pages/style/item-card/index.tsx
  example/src/pages/style/list-card/index.tsx
  example/src/pages/style/step-card/index.tsx
  example/src/routes.ts
  packages/tuya-panel-style-list-card/README.md
  packages/tuya-panel-style-list-card/jest.config.js
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-list-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-list-card/src/__tests__/index.test.js
  packages/tuya-panel-style-list-card/src/index.tsx
  packages/tuya-panel-style-list-card/src/interface.ts
  packages/tuya-panel-style-list-card/tsconfig.json
  packages/tuya-panel-style-step-card/README.md
  packages/tuya-panel-style-step-card/jest.config.js
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-step-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-step-card/src/__tests__/index.test.js
  packages/tuya-panel-style-step-card/src/index.tsx
  packages/tuya-panel-style-step-card/src/interface.ts
  packages/tuya-panel-style-step-card/src/nordic.tsx
  packages/tuya-panel-style-step-card/src/studio.tsx
  packages/tuya-panel-style-step-card/tsconfig.json
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉 ShinyLeee@咕噜
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
